/*起始CSS*/

body, h1, h2, h3, h4, h5, h6, ol, ul, p, form, dl, dt, dd {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
}

ul, ol {
	list-style: none;
}

#header {
	position: fixed;	
	width: 100%;
	height: 42px;
	top: 0px;		/*top定义了一个定位元素的上外边距边界与其包含块上边界之间的偏移*/
	background: #666;
	z-index: 9999;
}

#header .header_main {		/*header_main的主要作用是使header里的内容居中*/
	margin: 0 auto;
	width: 1200px;
	height: 42px;	
}

#header .logo {
	float: left;
	width: 137px;
	height: 42px;
	font-size: 30px;
	text-shadow: 0 0 5px #ddd;
	cursor: pointer;
}

#header .nav {
	float: left;
	height: 42px;
	margin: 0 0 0 30px;
}

#header .person {
	float: right;
	font-size: 16px;
	color: #fff;
}

#header .person li {
	padding: 0 10px;
}

#header .person a {
	font-size: 13px;
}

#header .app {
	padding: 0 10px;
	position: relative;
	cursor: pointer;
}

#header dl.list {
	width: 100px;
	background: #fff;
	border: 1px solid #666;
	position: absolute;
	top: 42px;
	left: -50px;
	display: none;
}

#header dl.list a {
	color: #444;
	height: 30px;		/*覆盖掉继承的height和line-height*/
	line-height: 30px;
}

#header dl.list a.line {
	border-top: 1px solid #eee;
}
#header .search {
	position: relative;
	float: right;
	padding: 8px 30px 0 0;
	
}

#header .search input {
	padding: 5px;
	border: none;
	width: 200px;
	height: 16px;
	color: #333;
	background: #fff;
	border-radius: 4px;
}

#header .search a {
	position: absolute;
	top: 13px;
	right: 35px;
	width: 17px;
	height: 17px;
	display: block;
	background: url(../img/search_btn.png) no-repeat;
}

#header ul li {
	float: left;
	margin-left: 5px;
	height: 42px;
	line-height: 42px;

}

#header ul li a {
	display: block;
	padding: 0 10px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

#header ul li a:hover {
	background: #333;
}

#header ul li a.selected {
	background: #333;
}

#main {
	width: 1200px;
	min-height: 800px;
	margin: 58px auto 0 auto;
	background: #fff;
	box-shadow: 0 0 5px #ccc;		/*给main区域加上阴影*/
}

#main .main_left {
	float: left;
	padding: 0 20px;
	width: 860px;
	min-height: 800px;
}

#main .main_left .left {
	float: left;
	padding: 30px 0 0 0;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	
}

#main .main_left .right {
	float: right;
	padding: 30px 0 0 0;
	font-size: 13px;
	color: #ccc;
}

#main .main_left .right strong {
	padding: 0 5px;
	font-size: 22px;
	color: #049;
}
#main .main_left .weibo_text {
	resize: none;		/*不允许改变大小*/
	width: 840px;		/*左右margin+左右padding+左右border=父元素的width，即9+9+1+1+840=860*/
	height: 80px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 9px;
	color: #666;
	font-size: 16px;
}

#main .main_left .weibo_button {
	float: right;
	margin: 5px 0 0 0;
	width: 90px;
	font-size: 14px;
}

#main .main_left .weibo_face {
	float: left;
	font-size: 13px;
	color: #666;
	text-decoration: none;
	
}

#main .main_left .weibo_face:hover {
	text-decoration: underline;
}

#main .main_right {
	float: right;
	width: 299px;
	min-height: 800px;
	border-left: 1px solid #ddd;
	background: #f7f7f7;
}

#error {
	font-size: 14px;
	font-weight: bold;
	color: #666;
	line-height: 25px;
	text-indent: 40px;
	
	background: url(../img/error.png) no-repeat 20px center;
}

#loading {
	font-size: 14px;
	font-weight: bold;
	color: #666;
	line-height: 20px;
	text-indent: 30px;
	
	background: url(../img/loading.gif) no-repeat 20px center;
}

#footer {
	margin: 0 auto;
	width: 1200px;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
}

#footer .footer_left {
	float: left;
}

#footer .footer_right {
	float: right;
}